$font: sofia-pro, "Helvetica Neue",Helvetica,"Segoe UI", sans-serif
$display: p22-mackinac-pro, Georgia, serif

$black: #242424
$blue: #1124CF
$dark-grey: #777777
$light-grey: #efefef
$grey: #cccccc

@mixin font-smooth() 
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering:optimizeLegibility

@mixin border-radius($border-radius) 
  -moz-border-radius: $border-radius
    -webkit-border-radius: $border-radius
    border-radius: $border-radius

@mixin transition($value) 
  -webkit-transition: $value /* Safari */
    transition: $value

@mixin transform($value) 
  -webkit-transform: $value /* Safari */
    transform: $value

@mixin box-shadow($value) 
  -webkit-box-shadow: $value
  -moz-box-shadow: $value
  box-shadow: $value


%material
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 1rem  /* Preferred icon size */
  display: inline-block
  line-height: 1.2
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr
  vertical-align: bottom

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale

  /* Support for IE. */
  font-feature-settings: 'liga'